
// Base Colors


$light-grey: #e2e1e0;
$green: #16960A;
$red: #A61C10;
$blue: #1631AB;



$black: rgba(0, 0, 0, 1);
$white: #fff;

$footer-bg: #262626;
$darktext: rgba(30,30,30,0.8);
$offwhite: #f0f0f0;
$navlinks: rgba(30,30,30,0.6);

$servicebg: #f5f5f5;




$nav-height-sm: 60px;
$nav-height-md: 80px;
