

.btn-send{
	background-color: #383838;
	border-radius: 0;
	border: 0;
	color: #fff;
	padding: 8px 14px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.btn:focus {
	color: #fff;
	border: 0;
	outline: 0;
}

.btn-send:hover{
	background-color: #000;
	color: #fff;
}

.btn-readmore{
	background-color: #383838;
	border-radius: 0;
	border: 0;
	color: #fff;
	padding: 10px 20px;
	margin-top: 20px;
	text-transform: uppercase;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.btn-readmore:hover{
	background-color: #000;
	color: #fff;
}
