
.page-header{
  background-color: #f5f5f5;
  padding-top: 50px;
  padding-bottom: 0px;
	position: relative;
	margin-bottom: 50px;
	margin-top: 0px;
}


.body-content {
	@include body-padding();
  p {
    margin-bottom: 30px;
  }
  p:last-of-type {
    margin-bottom: 0;
  }
}

h2 + p {
  margin-top: 48px;
}
ul + p {
  margin-top: 30px;
}



.body-wrap {
	max-width: 800px;
	margin: auto;
}
